*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7dab3;
}

.sign-in-box{
    max-width: 600px;
    width: 100%;
    background: linear-gradient(to top, #c66f80, #f4c7d0);
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

form {
    background-color: #ece3d2;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    text-align: center;
    font-size: 1.2em;
    font-size: 36px;
    font-weight: 800;
    color:#4A6644;
    margin-bottom: 10px;
}

.field{
    position: relative;
    margin-bottom: 24px;
}

.field input{
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.field label {
    position: absolute;
    left: 0;
    top: 10px;
    color: #4A6644;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}

.field input:focus {
  border-color: #c66f80;
}

.field input:focus + label,
.field input:valid + label {
  top: -14px;
  font-size: 13px;
  color: #c66f80;
}

button {
    background-color: #f4c7d0;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #c66f80;
}

a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 10px;
    color:#9faa74;
}

a:hover {
    text-decoration: none;
    color:#9faa74;
}


@media (max-width: 400px) {
    form {
        width: 90%;
    }
}







