body {
    background-color: #d7dab3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#entete{
    display:grid;
    grid-template-columns: 20% 80% ;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

