*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #d7dab3;
    
}

#entete{
    display:grid;
    grid-template-columns: 20% 80% ;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}