    body {
        background-color: #ffffff;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        line-height: 1.5;
    }
    .contenu {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-image: url("./bg.png");
        background-size: cover;
        background-position: center;
    }
    
    .header {
        background-color: #d7dab3;
        padding: 20px 20px;
        border-radius: 8px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 10);
    }
    
    .h-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1040px;
        margin: 0 auto;
    }
    .logo {
        height: 60px; 
        width: auto;  
        display: block;
    } 
    .site-name {
        font-size: 24px;
        font-family: 'Laila', serif;
        font-weight: 500;
        line-height: 25px;
        color: #000000;
    }
    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 40px 16px;
        margin-top: 0;      
        text-align: center;
    }
    .sidebar {
        list-style: none;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 2);
        padding: 10px;  
        background-color: #d7dab3;
        border-radius: 8px;
        max-width: 100px;
        margin: 20px;

    }
    .title {
        font-size: 32px;
        font-family: 'Laila', serif;
        font-weight: 700;
        line-height: 1.2;
        color: #4A6644;
        text-shadow: 2px 2px 4px rgba(80, 57, 57, 0.5);
    }
    .subtitle {
        font-size: 24px;
        font-family: 'Laila', serif;
        font-weight: 500;
        line-height: 1.2;
        color: #000000;
    }
